/* The containers is being created here. */

.containers{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*The header class in being created here. */
.header{
    margin-top: auto; 
    padding-top: 10px;
    font-family: Helvetica;
    border: 3px solid red;
    text-align: center;
    background-color: grey;
    opacity: 0.7;
}
.body{
    background-color: beige;
}